[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "==0.110.0"}
sqlmodel = "*"
alembic = "*"
python-dotenv = "*"
psycopg2-binary = "*"
python-slugify = "*"
faker = "*"
uvloop = {version = "*", markers = "sys_platform != 'win32'"}

[dev-packages]
ruff = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
