[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
sqlmodel = "*"
alembic = "*"
python-dotenv = "*"
psycopg2-binary = "*"
python-slugify = "*"

[dev-packages]
ruff = "*"
faker = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
