{% extends "layout.html" %}
{% block content %}
  <div>
    <input
      type="text"
      id="searchInput"
      placeholder="Search waste materials..."
    />
    <ul id="searchResults"></ul>
  </div>
{% endblock %}
